.loginInfo li.showpasswordmeter{  padding-bottom:0;}
.loginInfo label.lblStrength{ /* position:absolute; left:-142px; bottom:-27px;  float:left; margin:-60px 0 0 -78px; text-align:left;width:60px;    margin-left: -75px;  margin-top: -9px; text-align:left;*/  float:left; padding-top:4px;}
 
 
.loginInput{ position:relative;}
.passwordStrengthBar{ /* position:absolute; top:40px; left:0;float:left; margin-top:12px;*/ float:left; clear:both; width:447px;}

.safari .passwordStrengthBar{ float:left;}
input.password{ float:left;}
input.password[type='password'], 
.passwordStrengthBar { 
 
 /*   background: white; 
    border: 1px solid #777777; 
    margin: 1px; 
    width: 180px; */
} 
 
.passwordStrengthBar div { 
    height: 5px; 
    width: 0; 
	float:left;
	margin-top:5px;
} 
 
.passwordStrengthBar div.strong { 
background:url(../images/strong.png) left top no-repeat; width:187px !important; height:52px;
     
} 
 
.passwordStrengthBar div.medium { 
 
	background:url(../images/good.png) left top no-repeat; width:174px  !important; height:52px;
} 
 
.passwordStrengthBar div.weak { 
 
	background:url(../images/ok.png) left top no-repeat; width:174px  !important; height:52px;
	
} 
 
.passwordStrengthBar div.useless { 
	background:url(../images/week.png) left top no-repeat; width:174px  !important; height:52px;
    
} 

